.visor {
    flex: 1;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    margin: 10px 0;
    text-align: right;
    padding: 0;
  }

.digitos ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style: none;
    grid-auto-flow: row;
  }